{% extends 'video_app/base.html' %}
{% load embed_video_tags %}
{% block body_block %}
    <h2 class="mb-5">videos</h2>

    <div class="d-flex flex-wrap">

        {% for item in videos %}
            <div class="px-3 mb-5">
                {% video item.url '426x240' %}
                <div class="d-flex justify-content-start">
                    {{ item.title }}
                </div>
                <video width="50%" height="50%" src="{{ item.link }}"></video>
            </div>
        {% endfor %}
    </div>

{% endblock %}