<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <link rel="stylesheet" href="/static/cssnext/new.css">
</head>
<body>
 <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <p>asdf <h1> welcome</h1></br> <h3> good-bye</h3></p>
        <img src="/static/images/img1.jpg" alt="Girl in a jacket">        <h3>ppp</h3>
 <h1>ppp</h1></p>
            <div id="v1">

                <video  width="320" height="240" controls>
                <source src="movie.ogg" type="video/ogg" alt ="oops!">
                 <source src="/static/images/vdo1.mp4" type="video/mp4">

              Your browser does not support the video tag.
              </video>
            </div>
            <h3>this is h3</h3>

</body>
</html>